<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Михайловский.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
				<key>dateExpires</key>
				<string>14.04.2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVCocoaHTTPServer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KTVHTTPCache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>cached_video_player.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>printing.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>rate_my_app.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>screen_brightness.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sensors.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F4C2E90772F9EA929EF3D90EEF602F1C48F3B704</string>
						<key>dateExpires</key>
						<string>14.04.2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8K576R4HYW</string>
						<key>name</key>
						<string>ALLOSHOU, OOO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8K576R4HYW.mikhailovsky.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>8K576R4HYW</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8K576R4HYW.mikhailovsky.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ff222b2c-faac-4e91-a763-699c72d60ea7</string>
				<key>dateExpires</key>
				<string>14.04.2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: mikhailovsky.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8K576R4HYW</string>
				<key>name</key>
				<string>ALLOSHOU, OOO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4.3</string>
		</dict>
	</array>
</dict>
</plist>
