<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053703235037-m3n75q8fp5vb2jrrg5v5v8g84tasqj1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053703235037-m3n75q8fp5vb2jrrg5v5v8g84tasqj1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBfQJ5abxByAkJ6SfM_pkhjO5Swb-yQbdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1053703235037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>walletbox.app</string>
	<key>PROJECT_ID</key>
	<string>wp-system-828af</string>
	<key>STORAGE_BUCKET</key>
	<string>wp-system-828af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053703235037:ios:cb18c12dc96f1266664234</string>
</dict>
</plist>